################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CursorRotator/obj
/CursorRotator/Dependencies
/CursorRotator/Build
